@model IEnumerable<LR12_2.Models.Company>

<h2>List of Companies</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Industry</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Location</td>
                <td>@company.Industry</td>
            </tr>
        }
    </tbody>
</table>